aws_region   = "us-east-1"
project_name = "joby"
environment  = "dev"

domain_name         = "hasibul.bd"
app_subdomain       = "joby"
dns_delegation_mode = "subdomain"

vpc_cidr             = "10.20.0.0/16"
public_subnet_cidrs  = ["10.20.0.0/24", "10.20.1.0/24", "10.20.2.0/24"]
private_subnet_cidrs = ["10.20.10.0/24", "10.20.11.0/24", "10.20.12.0/24"]

k8s_namespace                = "joby"
backend_service_account_name = "joby-backend"

monitoring_alert_email     = ""
billing_alert_email        = ""
monthly_budget_limit_usd   = 250
cost_anomaly_threshold_usd = 25
